body {
    font-family: sans-serif;
}

h1 {
    font-size: 40px;
    margin-top: 40px;
}

h1, .bio, .blog, .girlfriend, .headshot, .links, .outro {
    text-align: center;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; 
}

a {
    color: black;
}

a:visited {
    color: purple;
}

a:hover {
    color: blue;
}

a:active {
    color: blue;
}

.headshot img {
    display: block;
    height: 200px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

